<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <title>index</title>
</head>
<body>
   

    <div class="card text-center">
        <div class="card-header d-flex">
          <p><h3 class="card-title mr-3">Home</h3></p>
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <a class="nav-link" href="servicosPrestados.html">Serviços Prestados</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contato.html">Contato</a>
            </li>
          </ul>
          
        </div>
        <div class="card-body">
          <h5 class="card-title">Bem Vindo ao Bootstrap</h5>
          <p class="card-text m-2">Bootstrap é um framework web com código-fonte aberto para desenvolvimento de
             componentes de interface e front-end para sites e aplicações web usando HTML, CSS e JavaScript, 
             baseado em modelos de design para a tipografia, melhorando a experiência do usuário em um site 
             amigável e responsivo </p>
             <div class="pt-2">
                <div>
                  <img src="../assets/img/BootstraoOqÉ.jpg" alt="Bootstrap" class="img-fluid-thumbnail m-3 mb-5" width="400">         
                  <img src="../assets/img/bootstrapR.jpg" alt="Bootstrap" class="img-fluid-thumbnail m-3 mb-5" width="400">
                  <img src="../assets/img/CodBoots.jpg" alt="Bootstrap" class="img-fluid-thumbnail m-3 mb-5" width="400">      
             </div>
        </div>
        </div>
        <div class="card mt-5 p-5">
          <span class="card-text m-0">&copy;Todos os direitos reservados</span>
        </div>
     </div>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/popper.js/dist/popper.min.js"></script>
</body>
</html>