<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Serviços prestados</title>
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">

</head>

<body>

  <div class="card text-center">
    <div class="card-header d-flex">
      <p><h3 class="card-title mr-3">Serviços Prestados</h3></p>
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <a class="nav-link" href="contato.html">Contato</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home</a>
        </li>
      </ul>

    </div>
    <div class="card-body">
      <h1 class="card-title">O que o Bootstrap oferece</h1>
      <p class="card-text m-5"><b>O Bootstrap</b>
        consiste em arquivos JavaScript, responsáveis pela interatividade de um site. 
        Para poupar tempo em sempre terem que escrever sintaxes de JavaScript, os desenvolvedores tendem a 
        usar jQuery. Essa é uma plataforma de código-aberto popular que permite adicionar várias 
        funcionalidades em um site.</p>
      <div class="m-5">
        <h3 class="text-center">Cinco Beneficios na utilização do Bootstrap</h3>
        <hr class="m-5">
      </div>
      <nav class="pt-2 m-5">
        <ol class="list-group">
          <li class="list-group-item m-3 bg-primary text-white"><h4><b>01 - Mobile First</b></h4></li>
          <p class="border-left border-right border-bottom m-3">Esta técnica do Mobile First ficou bastante 
            difundida com o crescimento do uso de dispositivos móveis, que diz que o desenvolvimento tem que ser
            pensado na experiência em dispositivos menores primeiramente e passar para próximos posteriormente.</p>
          <li class="list-group-item m-3 bg-secondary text-white"><h4><b>02 – Não reinvente a roda</b></h4></li>
          <p class="border-left border-right border-bottom m-3">O Bootstrap, assim como o jQuery construíram 
            uma comunidade open source para que você pudesse aprender e compartilhar conhecimento entre 
            diversos desenvolvedores, inclusive daqueles que dedicaram seu tempo para construir plugins 
            para tentar resolver todos os problemas da sua vida. O Bootstrap criou várias formas de 
            desenvolvimento com flexibilidade deste o início, assim como outro frameworks front-end.</p>
          <li class="list-group-item m-3 bg-success text-white"><h4><b>03 – Comunidade</b></h4></li>
          <p class="border-left border-right border-bottom m-3">Um framework precisa amadurecer e leva um bom tempo 
            para ficar realmente estável e escalável e isto é feito de acordo com as necessidades da comunidade. 
            Muitos nem sobrevivem às mudanças de paradigmas, como o Backbone.js, ou até mesmo Prototype.js que 
            atualmente é pouco usado. Muitos frameworks nasceram para serem transitórios e para resolver problemas
            que uma tecnologia não suportava na época.</p>
          <li class="list-group-item m-3 bg-danger text-white"><h4><b>04 – Flexibilidade</b></h4></li>
          <p class="border-left border-right border-bottom m-3"><b>Um misto com o jQuery!</b>
            O Bootstrap ainda usa o jQuery que adiciona funcionalidades a componentes de forma muito simples 
            para permitir uma maior flexibilidade, como se manter também puramente com o CSS, e o Javascript 
            opcional, e ainda ter um javascript totalmente não obstrusivo.</p>
          <li class="list-group-item m-3 bg-warning text-white"><h4><b>05. Documentação</b></h4></li>
          <p class="border-left border-right border-bottom m-3">A documentação do Bootstrap é bastante 
            completa e auto explicativa. Quando usei ele no passado em um projeto da Globo.com, facilmente 
            integramos toda a equipe no desenvolvimento de um sistema interno usando a documentação que já 
            estava ali, desenvolvida por outros enquanto tentávamos em outros projetos criar nossa própria 
            documentação. No fim, a adoção foi muito mais rápida e o projeto ficou pronto mais rapidamente 
            e com qualidade, e pudemos ir além e não se preocupar com coisas básicas já bem definidas.
            Não precisávamos passar pelos mesmos problemas que outros já resolveram.</p>
        </ol>
      </nav>
    </div>
      <div class="footer card-footer container-fluid bg-gradient-secondary mt-3 p-5">
        <div class="d-flex-justify-content-center">&copy;Bootstrap Enterprise RCA &reg;</div>
      </div>
  </div>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/popper.js/dist/popper.min.js"></script>
</body>
</html>